.idea/
.pnpm-store
.history/
dist/
node_modules/
coverage/
.yarn/
# .vscode/
*/**/.DS_Store
**/**/.rollup.cache/
# **/**/.storybook/
.eslintcache
tsconfig.tsbuildinfo
packages/**/log.txt
**/**/.pnpm-debug.log
playwright_/.cache/
playwright-report/
pnpm-publish-summary.json
pnpm-debug.log
